{%  extends 'base.html.twig' %}

{% block body %}

<h1>Bienvenue dans ce blog</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque eius esse, maxime nihil quasi recusandae suscipit!
    Deleniti doloremque eveniet ipsum minima minus necessitatibus quia, quis reiciendis repellendus ullam unde,
    voluptas? Dicta magni neque nobis pariatur provident quae recusandae soluta totam?</p>

<p>Delectus dolore explicabo
    iusto nemo nisi, nostrum odio porro quod repellendus saepe sed tempora! Accusamus consequatur eligendi enim facilis
    minima nulla porro rerum voluptatibus voluptatum! Alias aut, dolorum earum, eius eum ex explicabo ipsam iusto neque,
    praesentium sapiente sint tempora!</p>

{%  endblock %}